* {
  box-sizing: border-box;
}

.main {
  margin: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin: 50px;
  /*max-width: 1000px;*/
}

.IntroParagraph {
  justify-content: center;
  font-size: 20px;
  font-family: sans-serif;
}

.welcome {
  align-self: flex-end;
  font-weight: bold;
  font-size: 20px;
}


.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: baseline;;
  padding-left: 200px;
  /*border: 1px red solid;*/

}

.col {
  margin: 5px;
  flex-grow: : 1;
  flex-shrink: 1;
  flex-basis: 23%;
  /*border: 1px blue solid;*/
}

.line{
  font-size: 1px;
  width: 78%;
  margin-top: 5px;
  margin-bottom: 5px;

}

.footerTextBox {

}

.footerMessage {
  text-align: center;
}

.footerLinks {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.links {
  margin: 10px;
}
